Package: com.strayadevteam.forcy
Name: Forcy
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Quick Actions on older devices.
Maintainer: Straya Dev Team
Author: Straya Dev Team
Section: Tweaks
