<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.strayadevteam.forcyprefs</string>
			<key>key</key>
			<string>peekAndPopEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.strayadevteam.forcyprefs/prefsChanged</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>Peek and Pop Sensitivity</string>
        </dict>   
		<dict>
			<key>showValue</key>
			<true/>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<integer>0</integer>
			<key>PostNotification</key>
			<string>com.strayadevteam.forcyprefs/prefsChanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>45</real>
			<key>defaults</key>
			<string>com.strayadevteam.forcyprefs</string>
			<key>key</key>
			<string>peekAndPopSens</string>
		</dict>
	</array>
	<key>title</key>
	<string>Peek and Pop</string>
</dict>
</plist>
