<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>height</key>
			<string>100</string>
			<key>cellClass</key>
			<string>ForcyDevCell</string>
			<key>devName</key>
			<string>George Dan</string>
			<key>devTwitter</key>
			<string>@theninjaprawn</string>
			<key>jobSub</key>
			<string>Head Bitch</string>
			<key>icon</key>
			<string>George.png</string>
			<key>action</key>
			<string>openGeorgeTwitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>height</key>
			<string>100</string>
			<key>cellClass</key>
			<string>ForcyDevCell</string>
			<key>devName</key>
			<string>Thomas Greenwood</string>
			<key>devTwitter</key>
			<string>@GreenyDev</string>
			<key>jobSub</key>
			<string>Most Commits</string>
			<key>icon</key>
			<string>Greeny.png</string>
			<key>action</key>
			<string>openGreenyTwitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>height</key>
			<string>100</string>
			<key>cellClass</key>
			<string>ForcyDevCell</string>
			<key>devName</key>
			<string>Evan Petousis</string>
			<key>devTwitter</key>
			<string>@evilgoldfish01</string>
			<key>jobSub</key>
			<string>Fixes Stuff</string>
			<key>icon</key>
			<string>Evan.png</string>
			<key>action</key>
			<string>openEvanTwitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>height</key>
			<string>100</string>
			<key>cellClass</key>
			<string>ForcyDevCell</string>
			<key>devName</key>
			<string>Hayden Hunter</string>
			<key>devTwitter</key>
			<string>@HHunterDev</string>
			<key>jobSub</key>
			<string>Done Some Preferences Shit</string>
			<key>icon</key>
			<string>Hayden.png</string>
			<key>action</key>
			<string>openHaydenTwitter</string>
		</dict>
	</array>
	<key>title</key>
	<string>The Team</string>
</dict>
</plist>