<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>height</key>
			<string>140</string>
			<key>cellClass</key>
			<string>ForcyDevCell</string>
			<key>devName</key>
			<string>George Dan</string>
			<key>devTwitter</key>
			<string>@theninjaprawn</string>
			<key>jobSub</key>
			<string>Came up with the original idea for the tweak and fixes most of the things Greeny breaks</string>
			<key>icon</key>
			<string>George.jpg</string>
			<key>action</key>
			<string>openGeorgeTwitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>height</key>
			<string>140</string>
			<key>cellClass</key>
			<string>ForcyDevCell</string>
			<key>devName</key>
			<string>Thomas Greenwood</string>
			<key>devTwitter</key>
			<string>@GreenyDev</string>
			<key>jobSub</key>
			<string>Came up with ideas to implement into the tweak and worked with George to get things working</string>
			<key>icon</key>
			<string>Greeny.jpg</string>
			<key>action</key>
			<string>openGreenyTwitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>height</key>
			<string>140</string>
			<key>cellClass</key>
			<string>ForcyDevCell</string>
			<key>devName</key>
			<string>Evan Petousis</string>
			<key>devTwitter</key>
			<string>@evilgoldfish01</string>
			<key>jobSub</key>
			<string>Fixes what George and Greeny breaks when they get sick of trying to fix them</string>
			<key>icon</key>
			<string>Evan.jpg</string>
			<key>action</key>
			<string>openEvanTwitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>height</key>
			<string>140</string>
			<key>cellClass</key>
			<string>ForcyDevCell</string>
			<key>devName</key>
			<string>강림한 deVbug</string>
			<key>devTwitter</key>
			<string>@deVbug0</string>
			<key>jobSub</key>
			<string>A curious figure that hangs in the shadows but fixes the most important things that break</string>
			<key>icon</key>
			<string>devBug.jpg</string>
			<key>action</key>
			<string>openDBTwitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>height</key>
			<string>140</string>
			<key>cellClass</key>
			<string>ForcyDevCell</string>
			<key>devName</key>
			<string>Adam Demasi</string>
			<key>devTwitter</key>
			<string>@hbkirb</string>
			<key>jobSub</key>
			<string>I'm that guy that pops in every now and then telling you everything you're doing is wrong</string>
			<key>icon</key>
			<string>Kirb.jpg</string>
			<key>action</key>
			<string>openKirbTwitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>height</key>
			<string>140</string>
			<key>cellClass</key>
			<string>ForcyDevCell</string>
			<key>devName</key>
			<string>Hayden Hunter</string>
			<key>devTwitter</key>
			<string>@HHunterDev</string>
			<key>jobSub</key>
			<string>Came in to pretty up the preferences and that's about all he added to the tweak</string>
			<key>icon</key>
			<string>Hayden.jpg</string>
			<key>action</key>
			<string>openHaydenTwitter</string>
		</dict>
	</array>
	<key>title</key>
	<string>The Team</string>
</dict>
</plist>
