<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.strayadevteam.forcyprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.strayadevteam.forcyprefs/prefsChanged</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>Gives a short vibration when enabled. Make sure 'Vibrate on Silent' is enabled in Settings under Sound.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.strayadevteam.forcyprefs</string>
			<key>key</key>
			<string>hapticFeedbackIsEnabled</string>
			<key>label</key>
			<string>Haptic Feedback</string>
			<key>PostNotification</key>
			<string>com.strayadevteam.forcyprefs/prefsChanged</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>Long Press to invoke 3D Touch Menu, Swipe Up to edit apps.</string>
        </dict>        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.strayadevteam.forcyprefs</string>
			<key>key</key>
			<string>swapInvokeMethods</string>
			<key>label</key>
			<string>Swap Invoke Method</string>
			<key>PostNotification</key>
			<string>com.strayadevteam.forcyprefs/prefsChanged</string>
		</dict>
				<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.strayadevteam.forcyprefs</string>
			<key>key</key>
			<string>removeBackgroundBlur</string>
			<key>label</key>
			<string>Remove Background Blur</string>
			<key>PostNotification</key>
			<string>com.strayadevteam.forcyprefs/prefsChanged</string>
		</dict>
		 <dict>
            <key>PostNotification</key>
            <string>net.angelxwind.mikoto-LINEPreferencesChanged</string>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>default</key>
            <integer>0</integer>
            <key>defaults</key>
            <string>net.angelxwind.mikoto</string>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>key</key>
            <string>chatroomEffect</string>
            <key>label</key>
            <string>CHATROOMEFFECT</string>
            <key>validTitles</key>
            <array>
                <string>OFF</string>
                <string>SNOW</string>
                <string>SAKURA</string>
            </array>
            <key>validValues</key>
            <array>
                <integer>0</integer>
                <integer>1</integer>
                <integer>2</integer>
            </array>
        </dict>
	</array>
	<key>title</key>
	<string>Forcy</string>
</dict>
</plist>
